.section-profile{
    margin-top: -10rem;
    margin-bottom: -10px;
    background-attachment:fixed ;
    background-size: cover;
    height:auto;
    background-position: 50% 28%;
    top:-6em;
    background-repeat: repeat-x;
    z-index: -1;
}
.profile-container{
    padding-top:10rem ;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.8);
}
.profile-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:calc(60vh - (6rem + 4rem));
    margin-bottom: 2em;
}
.profile-icon{
    height: 10rem;
    width:10rem;
}
.profile-logout{
    background-color: var(--color-red);
    opacity: 0.8;
    padding: 0.5em 0.8em;
    font-size: 1em;
    border-radius: 0.5rem;
    border: none;
    color: var(--color-white);
    display: flex;
}
.profile-posts{
    padding: 0.5rem 5rem;
    display: grid;
}

.prompt-card{
    display: flex;
    flex-direction: column;
    
}
.prompt-card img{
    object-fit: contain;
    height:auto;
    min-width: 100%;
}
.profile-img-container{
    position: relative;
}
.delete-button{
    position: absolute;
    top:0.1em;
    right:0.1em;
    color: rgba(218, 9, 9, 0.7);
    font-size: 4em;
    display: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.delete-button:hover{
    transform: scale(1.2);
}
.prompt-card .profile-img-container:hover > .delete-button {
    display: block;
  }
  
@media screen and (min-width: 620px) {
    .profile-posts{
        grid-template-columns: 1fr 1fr;   
        gap: 1rem;
    }
     
}
@media screen and (min-width: 920px) {
    .profile-posts{
        grid-template-columns: 1fr 1fr 1fr;  
        gap: 1.5rem; 
    }
     
}
@media screen and (min-width: 1280px) {
    .profile-posts{
        grid-template-columns: 1fr 1fr 1fr 1fr;   
    }
     
}