.section-profile{
    margin-top: -10rem;
    margin-bottom: -10px;
    background-attachment:fixed ;
    background-size: cover;
    height:auto;
    background-position: 50% 28%;
    top:-6em;
    background-repeat: repeat-x;
    z-index: -1;
}
.profile-container{
    padding-top:10rem ;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.8);
}
.profile-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:calc(60vh - (6rem + 4rem));
    margin-bottom: 2em;
}
.profile-icon{
    height: 10rem;
    width:10rem;
}
.profile-logout{
    background-color: var(--color-red);
    opacity: 0.8;
    padding: 0.5em 0.8em;
    font-size: 1em;
    border-radius: 0.5rem;
    border: none;
    color: var(--color-white);
    display: flex;
}
.profile-posts{
    padding: 0.5rem 5rem;
    display: grid;
}

.prompt-card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.prompt-card{
    object-fit: contain;
    height:auto;
    min-width: 100%;
}
@media screen and (min-width: 480px) {
    .profile-posts{
        grid-template-columns: 1fr 1fr;   
        gap: 1rem;
    }
     
}
@media screen and (min-width: 780px) {
    .profile-posts{
        grid-template-columns: 1fr 1fr 1fr;  
        gap: 1.5rem; 
    }
     
}
@media screen and (min-width: 1280px) {
    .profile-posts{
        grid-template-columns: 1fr 1fr 1fr 1fr;   
    }
     
}