.nav{
  width: 100vw;
  max-width: 100%;
  z-index: 11;
  position: relative;  
  background-color: transparent;

}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 3em;
  border-bottom:0.2px solid rgb(119, 57, 57);
}
.navbar-right{
  display: flex;
  gap:2em;
}
.nav-bar li{
  background-color: var(--color-red);
  padding: 0.6em 1em;
  border-radius: 5%;

}
.link{
  text-decoration: none;
   color:var(--color-white);
}
.login{
  display: flex;
  align-items: center;
}