.home{
    margin-top: -6rem;
    background-attachment:fixed ;
    background-size: cover;
    height:auto;
    min-height: 110vh;
    background-position: 50% 28%;
    top:-6em;
    background-repeat: repeat-x;
    z-index: -1;
}
.home-container{
   
    width: 100%;
    min-height: 110vh;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.9);
    padding: 10rem 5rem;
}